body {
    background-color: DarkCyan;
  }
}
.flex-wrapper {
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
background-color: red;
}
.flex-item {
width: 50px;
height: 50px;
}
